.head{
    background-image: url(../Assets/Hero-bg.png);
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#upper_text{
   padding: 50px 150px 50px 150px;
   display: flex;
   justify-content: space-between;
   font-weight: 900;
   font-size: 25px;
   color:#4E47FF;
}
#btn{
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    border: 0;
    background-color: #4E47FF;
    font-weight: 700;
    font-size: 10px;
}
.banner{
    padding: 100px 350px 150px 350px;
    text-align: center;
}
#title-text{
    font-weight: 700;
    font-size: 65px;
}
/* main section */ 
.action{
    padding: 150px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}
.paragraph{
    padding: 80px;
}
#header-part{
    font-size: 40px;
}
#middle-para{
    text-align: left;
    margin-right: 100px;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
}
.tik{
    color: rgb(35, 191, 87);
}
.second-section{
    text-align: center;
    margin-top: 100px;
}
.icon{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 25px;
}
.icn-msg{
    margin: 15px 0;
    font-weight: 700;
}
.icon-text{
    margin: 0;
    color: rgb(91, 90, 90);
}
.third-section{
    padding: 100px 200px;
}
.watch-img{
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
}
.img-text{
    position: absolute;
    top: 2200px;
    padding-left: 50px;
    padding-right: 700px;
}
#third-title{
    color: aliceblue;
    margin: 0;
    font-weight: 700;
    font-size: 45px;
}
.third-btn{
    color: #fd6e0a;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    border: 0;
    background-color: aliceblue;
    font-weight: 700;
    font-size: 15px;
}
/*footer section */
.footer{
    background-color: black;
    color: aliceblue;
    display: flex;
}
#footer-text{
    padding: 80px 400px 100px 200px;
    line-height: 25px;
}
#social-media{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 250px;
}
#subs{
    padding: 80px 200px 100px 0;
}
#subs-text{
    font-weight: 500;
    font-size: 25px;
}
#input-box{
    background-color: black;
    padding: 20px 60px 20px 20px;
    font-size: 15px;
    border-color: aliceblue;
    border-radius: 5px;
}